@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* Tailwind event click smartphone */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Open Sans", sans-serif;
  /* overflow: hidden !important; */
}

*:focus {
  outline: none;
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: ; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #95a5a6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
